
<div class="playerComp">
  <input *ngIf="initialized" type="image" id="playerElement" [ngStyle]="getPlayerState()" src="assets/player.png" onblur="onblur()">
  <input *ngIf="initialized" type="image" id="enemy" [ngStyle]="getEnemyState()" [src]="getEnemySource()" onblur="onblur()">
  <input type="image" *ngFor="let bullet of bullets | keyvalue" [ngStyle]="getBulletState(bullet.value.id)" [src]="getBulletImage(bullet.value.id)">
  <div class="debug">
    <div>{{getEnemyStateJSON()}}</div>
    <div>{{enemiesCreation}}</div>
    <div>{{enemiesNotCreation}}</div>
  </div>
  <div class="debugClicks">
    <div>{{numberOfClicks}}</div>
  </div>
</div>