.playerComp{
  z-index: 1;
  position: relative;
  float: left;
  width: 100%;
  background-color: #008000;
  height: 3000px;
  top:0;
  left:0;
}

.debug{
  display: none;
}


.playerHealth{
  z-index: 1;
  position: fixed;
  width: 200px;
  height: 200px;
  top:0px;
  right:10px;
}

.playerInventory{
  z-index: 1;
  position: fixed;
  width: 200px;
  height: 200px;
  top:200px;
  right:10px;
}